<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    /> -->
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <title>Shortify.icu</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

          Shortify.icu
        </div>
        <div class="navbar-end">
          
          <% if (isAuthenticated) {%>
            <div class="navbar-item">
              <i class="bi bi-person-circle" style="margin-right: 5px;"></i>
              <a class="mr-3">
               <%= user.name %> 
              </a>
            </div>
            <div class="navbar-item">
              <a class="button is-primary" href="/logout">
                Logout
              </a>
              </div>  
              <% } else { %>
                <div class="navbar-item">
              <a class="button is-primary" href="/login">
                Login
              </a>
              </div>

              <% } %>
 
        </div>
      </div>
    </nav>
    <div class="main">
      <img src="images/peep-46.png"/>
      <div>
        <!-- <h2 class="">Shortify.icu</h2> -->
        <h1 class="">Get short links <br/> Effortlessly</h1>
      </div>
      <form  class="flex-col" action="/shrink" method="POST">
        <input
          class="input"
          type="url"
          name="fullUrl"
          id="fullUrl"
          placeholder="Enter URL to shrink"
        />
        <input class="submit-btn" type="submit" value="Shrink" />
      </form>

      <div class="features-wrapper">
        <div class="flex-col">
      <div class="features">
        <div class="feature">
          <i class="bi bi-cash-coin"></i>
          <h3>Free to start</h3>


        </div>
        <div class="feature">
          <i class="bi bi-lightning"></i>
          <h3>Performance</h3>

        </div>
        <div class="feature">
          <i class="bi bi-github"></i>
          <h3>Open source</h3>

        </div>
      </div>
      <div class="features">

        <div class="feature">
          <p>Get started for free. Upgrade to premium if you need more features</p>
        </div>
        <div class="feature">
          <p>
            Running on high performance Digital Ocean droplets and super fast MongoDB database</p>
        </div>
        <div class="feature">
          <p>
            Maintained with ❤ by Leo Wang <br/>
            Fully open source and available on Github</p>
          </p>
        </div>
      </div>
      </div>
    </div>


      </div>
    </div>
  </body>
</html>
